[Unit]
Description=PostgreSQL archive log service
Documentation=https://www.postgresql.org/docs/current/runtime-config-logging.html
 
[Service]
User=postgres
Group=postgres
Environment="LOG_DIR=/var/log/postgresql/16"
 
# создаём папки, если их ещё не было
ExecStartPre=mkdir -p ${LOG_DIR}
ExecStartPre=chmod 750 ${LOG_DIR}
 
# удаляем файлы старше N дней
ExecStartPre=find ${LOG_DIR} -maxdepth 1 -type f -mtime +90 -delete
 
# удаляем файлы нулевого размера старше K дней
ExecStartPre=find ${LOG_DIR} -maxdepth 1 -type f -mtime +1 -size 0 -delete
 
# архивируем несжатые файлы старше M дней (достаточно одного потока, т.к. файлы относительно небольшие)
# выбирайте, что для вас важнее, скорость работы или размер файла:
#   'zstd -9' быстрее в 12 раз, но больше размер файла на 13%, чем 'xz -9'
#   'xz -9' быстрее в 3.5 раза, но больше размер файла на 14%, чем 'zstd -19'
# ExecStart=find ${LOG_DIR} -maxdepth 1 -type f -mtime +0 -size +100k ! -name "*.zst" ! -name "*.xz" -exec ionice -c2 -n7 -- nice -n19 -- zstd -9 -q --rm '{}' \;
ExecStart=find ${LOG_DIR} -maxdepth 1 -type f -mtime +0 -size +100k ! -name "*.zst" ! -name "*.xz" -exec ionice -c2 -n7 -- nice -n19 -- xz -9 '{}' \;
 
[Install]
WantedBy=multi-user.target
