[Unit]
Description=PostgreSQL archive log timer
 
[Timer]
Unit=pg_archive_log.service
OnCalendar=*-*-* 05:15:00
Persistent=true
 
[Install]
WantedBy=timers.target
