[Unit]
Description=PostgreSQL archive log timer
 
[Timer]
Unit=pg_archive_log.service
OnCalendar=*-*-* 06:00:00
RandomizedDelaySec=3600
Persistent=true
 
[Install]
WantedBy=timers.target
