[Unit]
Description=PostgreSQL pg_receivewal service
Documentation=https://www.postgresql.org/docs/current/app-pgreceivewal.html
After=postgresql-%i.service
 
[Service]
Type=simple
User=postgres
Group=postgres
 
# архивировать WAL файлы будем только с мастера
ExecCondition=echo "pg_receivewal: check if PostgreSQL is primary"
ExecCondition=/bin/bash -c "test f = $(psql --user=bkp_replicator --no-password --dbname=postgres --quiet --no-psqlrc --pset=null=¤ --tuples-only --no-align --command='select pg_is_in_recovery()')"
 
# создаём папки, если их ещё не было
ExecStartPre=mkdir -p /mnt/backup_db/archive_wal
 
# удаляем *.partial файл, т.к. WAL файл на СУБД может уже отсутствовать и мы получим ошибку "unexpected termination of replication stream error requested wal segment ..."
ExecStartPre=rm -f /mnt/backup_db/archive_wal/*.partial
 
# создаём слот, если его ещё не было (select * from pg_replication_slots;)
ExecStartPre=/usr/pgsql-%i/bin/pg_receivewal --user=bkp_replicator --no-password --slot=pg_receivewal --create-slot --if-not-exists
 
# архивируем WAL файлы в реальном времени, появится ещё одна асинхронная реплика, которая никогда не догонит мастер (select * from pg_stat_replication;)
ExecStart=/usr/pgsql-%i/bin/pg_receivewal --user=bkp_replicator --no-password --slot=pg_receivewal --directory=/mnt/backup_db/archive_wal --synchronous --compress=9
 
# удаляем слот репликации, если он существует и неактивен (не используется); активный слот удалить нельзя, будет ошибка
ExecStopPost=echo "pg_receivewal: drop unused replication slot"
ExecStopPost=psql --user=bkp_replicator --no-password --dbname=postgres --quiet --no-psqlrc --pset=null=¤ --tuples-only --no-align \
                  --command="select pg_drop_replication_slot(slot_name) from pg_replication_slots where slot_name='pg_receivewal' and not active"
 
[Install]
WantedBy=multi-user.target
