[Unit]
Description=PostgreSQL backup timer
 
[Timer]
Unit=pg_backup.service
OnCalendar=*-*-* 00:00:00
RandomizedDelaySec=7200
Persistent=true
 
[Install]
WantedBy=timers.target
